
.sub_head h1 {
  margin: 0px;
  font-family: 'Inter', sans-serif;
  font-size: 38px;
  font-style: italic;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
}
.sub_head h1:last-child {
  font-family: 'Inter', sans-serif;
  font-size: 58px;
  font-style: italic;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
}
.client_details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.client_details .clientstable {
  padding: 20px;
  width: 400px;
  margin: 20px 5px;
  background: rgba(230, 230, 226, 1);
  border-radius: 10px;
  height:400px;
  position:relative;
}
.client_details .clientstable div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.client_details div img {
  width: 100px;
  height: 100px;
  text-align: center;
  margin-bottom: 3px;
}
.client_details div .name {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
}
.client_details div .content {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}
.client_details div small {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  bottom: 10px;
}

.clientstable .client_image_wrap img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}


@media screen and (max-width: 1050px) {
  .navbar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
    
  .top-class {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    
  .menu-icon {
    cursor: pointer;
    display: flex;
  }
    
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    width: 40%;
    position: fixed;
    top: 0;
    left: -100%;
    background: white;
    transition: all ease 600ms;
  }

  .nav-links li  {
    width: 100%;
    padding: 10px ;
  }
  .nav-links li a:hover {
    background: #000;
    color: #fff;
  }
  .show {
    left: 0;
  }
  .phone{
    display: none;
  }
  .mob-phone{
    display: block;
  }
  .client_details {
    
  }
  .sub_head h1:last-child{
    font-size: 28px;
    line-height: 30px;
  }
}

@media screen and (max-width: 865px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    width: 70%;
    position: fixed;
    top: 0;
    left: -100%;
    background: white;
    padding: 10px;
    transition: all ease 600ms;
  }
  .show {
    left: 0;
  }

}
