/* Styles for the head section */
.head > div {
  margin: 20px 0px;
} 

section {
  padding:0px 4px;

}

.head > .heading p {
  font-family: 'Lora', serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 82px;
  letter-spacing: 0em;
  text-align: center;
}

.head > .sub_heading p {
  font-family: 'Inter', sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
}
.head > .services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
}
.head > .services span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: rgba(232, 240, 254, 1) !important;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}

.head > .services span p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}
.head > .services span img {
  width: 100px;
  height: 100px;
 
}

.service_card:hover  img {
  transform: scale(1.2);
  transition: all 0.4s ease-in;
}

/* Styles for the services sectionszzzz section */
/* Styles for service section 1 */

.servicesection1,
.servicesection2,
.servicesection3 {
  margin-bottom: 50px;
}

.servicesection1 h3,
.servicesection2 h3 {
  text-align: center;
  font-size: 28px;
  margin: 20px 0px;
}

.servicesection1,
.servicesection2 p {
  text-align: center;
}

/* Styles for service 1 */
.service1,
.service2,
.service3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 40px;
}


.cards {
  width: 400px;
  height: 450px;
  margin: 20px 10px;
  border-radius: 10px;
  text-align: center;
  padding: 30px 25px;
}


.cards p {
line-height: 21px;
text-align: center;
}

.cards h5 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}


.service1 > h3,
.service2 > h3,
.service3 > h3 {
  font-family: 'Lexend', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 60px;
}
.service1 > p,
.service2 > p,
.service3 > p  {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}
.service1 > div,
.service2 > div,
.service3 > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.service3 {
  margin-bottom:30px;
}
.service1 div h5
.service2 div h5,
.service3 div h5 {
  font-family: 'Lexend', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 15px;
}

.service1 div p
.service2 div p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}


.service1 .smm {
  background: rgba(232, 240, 254, 1);
}
.service1 .oa,
.service3 .oa {
  background: rgba(239, 247, 207, 1);
}
.service1 .cm,
.service3 .cm {
  background: rgba(230, 244, 234, 1);
}
.service2 .wdd {
  background: rgb(233, 231, 231);
 
}
.service1  .em, 
.service3  .em {
  background: rgba(252, 232, 230, 1);
}
.service1 .ppc {
  background: rgba(241, 241, 241, 1);
}
.service1 .im {
  background: rgba(232, 240, 254, 1);
}
.service2 .add {
  background: rgba(239, 247, 207, 1);
}
.service1 .str,
.service3 .str {
  background: rgba(230, 244, 234, 1);
}


/* Styles for service section 2 */

.gd h5,
.br h5,
.me h5,
.ud h5,
.ex h5,
.ppc h5 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.gd p,
.br p,
.me p,
.ud p,
.ex p,
.ppc p {
  
}

.gd,
.br,
.me,
.ud,
.ex,
.ppc{
  width: 400px;
  height: 450px;
  margin: 20px 10px;
  border-radius: 10px;
  text-align: center;
  padding: 30px 25px;
}

.service2 .gd {
  background: rgba(232, 240, 254, 1);
}
.service2 .br {
  background: rgba(239, 247, 207, 1);
}
.service2 .cm {
  background: rgba(230, 244, 234, 1);
}
.service2 .me {
  background: rgba(56, 56, 56, 1);
  color: white;
}
.service2 .ud {
  background: rgba(252, 232, 230, 1);
}
.service2 .ex {
  background: rgba(241, 241, 241, 1);
}
.service2 .ppc {
  background: rgba(232, 240, 254, 1);
}


@media screen and (max-width: 1050px) {
  .navbar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
    
  .top-class {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    
  .menu-icon {
    cursor: pointer;
    display: flex;
  }
    
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    width: 40%;
    position: fixed;
    top: 0;
    left: -100%;
    
    background: white;
    transition: all ease 600ms;
  }

  .nav-links li  {
    width: 100%;
    padding: 10px ;
  }
  .nav-links li a:hover {
    background: .000;
    color: #fff;
  }

      
  .show {
    left: 0;
  }

  .show {
    left: 0;
  }

  .nav-links .show {
    left: 0;
  }
  .show {
    left: 0;
  }

  .phone{
    display: none;
  }
  .mob-phone{
    display: block;
  }
}


@media screen and (max-width: 865px){
  .head > p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .head > .service_list {
    display: block;
  }
  .service1 > article > div, .service2 > article > div{
    width: 100%;
  }

  .service1 > article > div h5, .service2 > article > div h5 {
    font-family: 'Lexend', sans-serif;
    font-size: 22px;
    line-height: 30px;
  }
  .service1 > article > div p, .service2 > article > div p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 18px;
  }
  .ads > div img {
    width: 50px;
    height: 50px;
}
}

@media screen and (max-width: 750px){
  .head > .heading p {
   
    font-size: 30px;
  
  }

  .head > .services {
   flex-direction: column;
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   padding:0px 40px;
  }

  .head > .services span { 
    width: 400px;
  }

  .service1,
.service2,
.service3 {
  gap: 15px;
 
}

  .cards {
    width: 400px;
    height: fit-content;
    min-height: 400px;
    margin: 10px 10px;
  
  }
  
}


@media screen and (max-width: 600px){
  .head > .services {
  
    padding:0px 10px;
   }
 
   .head > .services span { 
     width: 100%;
   }
  
  .cards {
    width: 100%;
    height: fit-content;
    min-height: 420px;
    margin: 10px 10px;
  
  }

}