*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-family: 'Inter', sans-serif;
}
section {
  margin: 100px 5px;
}

header {
  width: 100%;
  background:none;
  background-image:none;
}
header nav {
  width: 100%;
  margin: auto;
  text-align: center;
}

header nav ul {
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
header nav ul > li {
  list-style: none;
  padding: 5px;
}
header nav ul > li a {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  color: black;
}

#sub_head > .head h1 {
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
}

#sub_head > .sub p {
  font-family: 'Lora', serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 82px;
  letter-spacing: 0em;
  text-align: center;
}

#sub_head > .nt > p {
  font-family: 'Inter', sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
}

#text_right {
  font-family: 'Lexend', sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
}

#text_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#text_left .box {
  background: rgba(209, 207, 207, 1);
  width: 40%;
  height: 400px;
  left: 62px;
  top: 1809px;
}
#text_left .text{
    width:50%;
}
#text_left p {
  font-family: 'Lexend', sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0px;
}




@media screen and (max-width: 1050px) {
  .navbar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
    
  .top-class {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    
  .menu-icon {
    cursor: pointer;
    display: flex;
  }
    
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    width: 40%;
    position: fixed;
    top: 0;
    left: -100%;
    /* z-index: 999; */
    background: white;
    transition: all ease 600ms;
  }

  .nav-links li  {
    width: 100%;
    padding: 10px ;
  }
  .nav-links li a:hover {
    background: #000;
    color: #fff;
  }
    
  .show {
    left: 0;
  }


  .phone{
    display: none;
  }
  .mob-phone{
    display: block;
  }

}

@media screen and (max-width: 865px) {

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    width: 70%;
    position: fixed;
    top: 0;
    left: -100%;
    /* z-index: 999; */
    background: white;
    padding: 10px;
    transition: all ease 600ms;
  }

  .show {
    left: 0;
  }



  
@media (min-width:2000px){
    body{
        width:2000px;
        margin:auto;
    }
  }
  
  @media (max-width:1000px){
   #text_right, #text_left p {
    font-size:20px;
    line-height: 30px;
   }
   
  }
  @media (max-width:700px){
    #text_left{
        display:block;
    }
    #text_left .box, #text_left .text{
        width:100%;
    }
  }
  @media (max-width:500px){
    #sub_head > .sub p {
      font-size: 44px;
      font-weight: 400;
      line-height: 62px;
  }
  }