html body {
width:100%;
height:100%;
overflow-x: hidden;
}

.works {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.header {
  color: #fff;
  text-align: center;
  padding: 20px;
}

.tab-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  
  z-index: 1;
}

.tab {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height:39px;
}

.tab:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.tab:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.tab:hover {
  background-color: #2980b9;
}

.active-class {
  background-color: #2980b9;
}

.tab-content.active {
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  /*grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))*/
  gap: 1rem;
  margin-top:2rem;
  margin-bottom:5rem;
  border-radius: 16px;
  padding:0px 1rem;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  width:100%;
 

}

.work-slot{
  height: 300px;
  width: 280px;

}

.work-slot div  {
  width:280px;
  height: 250px;
  border-radius: 6px;

}
.work-slot div .image {
  width:100%;
  height: 100%;
  border-radius: 6px;
}

