html body {
width:100%;
height:100%;
overflow-x: hidden;
}

.works {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.header {
  color: #fff;
  text-align: center;
  padding: 20px;
}

.tab-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  
  z-index: 1;
}

.tab {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height:39px;
}

.tab:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.tab:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.tab:hover {
  background-color: #2980b9;
}

.active-class {
  background-color: #2980b9;
}

.filter-mobile {
  display:none;
}

.tab-content.active {
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  /*grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))*/
  gap: 1rem;
  margin-top:2rem;
  margin-bottom:5rem;
  border-radius: 16px;
  padding:0px 5rem;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  width:100%;
 

}

.work-slot{
  height: 100%;
  width: 350px;

}

.work-slot .wrap  {
  width:350px;
  height: 350px;
  border: 1px solid #f0f0f0;
  border-radius: 6px;

}
.work-slot div .image {
  width:100%;
  height: 100%;
  border-radius: 6px;
}

@media screen and (max-width:1280px) {
  .tab-content.active {
   
    padding:0px 1rem;
   
  
  }
}

@media screen and (max-width:550px) {
  .tab-container {
    display:none;
  }
 .filter-mobile {
  display: block;
  padding:2rem;
  width:fit-content;

 } 
 .filter-mobile-active {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1rem;
  position: relative;
  border:1px solid #f0f0f0;
  border-radius: 10px;
  padding:0.5rem 0.7rem;
  width: fit-content;
 }
.filter-absolute {
  position:absolute;
  left: 5px;
  top:50px;
}
 .filter-relative  {

  width:max-content;
  height: fit-content;
 z-index: 100;
 background: white;

 text-align: start;
 
 padding:1rem 0rem;
  border:1px solid #f0f0f0;
  border-radius:10px;
 }
 .expands {
  transform: rotate(180deg);
 }
 .fixed {
  width:100%;
  height: 100%;
  position: fixed;
  z-index: 50;
  background:none;
 }

 .filter-tab {
  padding:1rem 3rem 0.5rem 0.5rem;
 }
 .filter-tab:hover {
  background-color: #f0f0f0;
 }

 .show {
  display: block;
 }
 .hide {
  display:none;
 }
 .tab-content.active {
  margin-top:0rem;
 }

 .work-slot{
  height: 100%;
  width: 95%;

}

.work-slot .wrap  {
  width:100%;
  height: 350px;
  border: 1px solid #f0f0f0;
  border-radius: 6px;

}
.work-slot div .image {
  width:100%;
  height: 100%;
  border-radius: 6px;
}
}